/* {
    "name": "Opay",
    "short_name": "Opay",
    "start_url": "/opaydb",
    "display": "standalone",
    "background_color": "#00B875",
    "theme_color": "#ffffff",
    "icons": [
        {
            "src": "/icons/opay.jpg",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/icons/opay.jpg",
            "sizes": "512x512",
            "type": "image/png"
        }
    ]
} */

/* .my-confirm-btn {
    background-color: #00B875;
    color: white;
    padding: 8px 46px;
    border: none;
    border-radius: 20px;
}

.my-cancel-btn {
    background-color: #E1F5EA;
    color: #00B875;
    padding: 8px 46px;
    border: none;
    border-radius: 20px;
    margin-left: 8px;
  }
   */

/* .dotted-hr {
    border: none;
    border-top: 2px dotted #ccc;
} */

